<header id="header" class="bg-primary">
  <div class="container-fluid" style="padding: 10px">
    <h1 style="margin-left: 3%; display: inline-block">Inventory Management</h1>
    <h1 style="display: inline-block; float: right; margin-right: 5%">
     User   <img src="/images/icons8-male-user-50.png" style="margin-bottom: 10px;"> 
    </h1>
  </div>
</header>
