<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  
<div class="dashboard" style="display: inline-block;margin-left: 30px;">


    <h1 style="margin-bottom: 40px;">Dashboard</h1>
       
     <div class="card-group">

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header" style="text-align: center;"><h2> Total Orders</h2></div>
    <div class="card-body">
    <h2 class="card-title" style="text-align: center;display: inline-block;">0</h2>
    <img src="https://static.thenounproject.com/png/95028-200.png"  class="icons" alt="icon">
    
    <!-- <p class="card-text">0</p> -->
    </div>
   </div>
     <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
  <div class="card-header" style="text-align: center;"><h2> Customers</h2></div>
    <div class="card-body">
    <h2 class="card-title" style="text-align: center;display: inline-block;">0</h2>
    <img src="https://www.iconfinder.com/data/icons/business-solid-17/32/Customer_User_People_Man_Business-512.png"  class="icons" alt="icon">
    
    <!-- <p class="card-text">0</p> -->
    </div>
   </div>

       <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header" style="text-align: center;"><h2>Products</h2></div>
    <div class="card-body">
    <h2 class="card-title" style="text-align: center;display: inline-block;">0</h2>
    <img src="https://static.thenounproject.com/png/1375593-200.png"  class="icons" alt="icon">
    
    <!-- <p class="card-text">0</p> -->
    </div>
   </div>

       <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header" style="text-align: center;"><h2>Reports</h2></div>
    <div class="card-body">
    <h2 class="card-title" style="text-align: center;display: inline-block;">0</h2>
    <img src="https://www.iconfinder.com/data/icons/charts-graphs-2/56/chart-graph-11-512.png"  class="icons" alt="icon">
    
    <!-- <p class="card-text">0</p> -->
    </div>
   </div>

   </div>


</div>



