/* #login-form{
    padding: 20px;
    width: 20%;
    margin-left: 38%;
    background-color: whitesmoke;
    position: relative;
    top: 20%; 

} */

header{
    width: 0px;
    height: 0px;
}
footer{
    width: 0px;
}
.heading{
    position: absolute;
    top:20%;
    left: 10%;
    color: grey;
}

.heading:hover{
    color: black;
}

.login,
.image {
  min-height: 100vh;
}


.bg-image {
  background-image: url('https://cdn.hipwallpaper.com/i/65/74/nK37Y2.jpg');
  background-size: cover;
  background-position: center center;
}