
body {
  margin: 0;
  height: 100%; }

body #layout-main {
    height: 93%; 
}

.sidebar{

  height:100%;
  width: auto;
  background-color:#43495f;
}

.nav-link{
  border-top:1px solid black; 
  color: white;
}